In [41]:
import numpy as np
import pandas as pd

In [52]:
#Read the housingdata.csv file into pandas DataFrame and display first six rows of the DataFrame
df=pd.read_csv("/content/housingdata.csv")

In [43]:
print(df.head(6))

           PID        STATE      PRICE NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0           MP     321654            3        1  1000
1  100002000.0  MAHARASHTRA      21325            3      1.5    --
2  100003000.0           AP    2541654          NaN        1   850
3  100004000.0           TN     321321            1      NaN   700
4          NaN           TN  589465645            3        2  1600
5  100006000.0           TN   65465466          NaN        1   800

In [44]:
df.columns.values

array(['PID', 'STATE', 'PRICE', 'NUM_BEDROOMS', 'NUM_BATH', 'SQ_FT'],
      dtype=object)

In [45]:
column_names=list(df.columns)
column_names.insert(0,'')
new_df=pd.DataFrame(columns=column_names)
new_df=new_df.append(df)
new_df.reset_index(inplace=True)
new_df.rename(columns={'index':'Row Index'},inplace=True)
new_df

,Row Index,,PID,STATE,PRICE,NUM_BEDROOMS,NUM_BATH,SQ_FT
0,0,NaN,100001000.0,MP,321654,3,1,1000
1,1,NaN,100002000.0,MAHARASHTRA,21325,3,1.5,--
2,2,NaN,100003000.0,AP,2541654,NaN,1,850
3,3,NaN,100004000.0,TN,321321,1,NaN,700
4,4,NaN,NaN,TN,589465645,3,2,1600
5,5,NaN,100006000.0,TN,65465466,NaN,1,800
6,6,NaN,100007000.0,ASSAM,3222321,2,HURLEY,950
7,7,NaN,100008000.0,HP,23131,1,1,NaN
8,8,NaN,100009000.0,HP,21212,na,2,1800

In [46]:
print(df['STATE'].shape)

(9,)

In [47]:
print(df['STATE'].unique())
print(df['STATE'].unique().shape)

['MP' 'MAHARASHTRA' 'AP' 'TN' 'ASSAM' 'HP']
(6,)

In [48]:
df.isnull().sum()

PID             1
STATE           0
PRICE           0
NUM_BEDROOMS    2
NUM_BATH        1
SQ_FT           1
dtype: int64

In [49]:
bool_df=df.isna()|df.isnull()|df.eq('')
print(bool_df)

     PID  STATE  PRICE  NUM_BEDROOMS  NUM_BATH  SQ_FT
0  False  False  False         False     False  False
1  False  False  False         False     False  False
2  False  False  False          True     False  False
3  False  False  False         False      True  False
4   True  False  False         False     False  False
5  False  False  False          True     False  False
6  False  False  False         False     False  False
7  False  False  False         False     False   True
8  False  False  False         False     False  False

In [53]:
df = df.dropna(subset = ['NUM_BEDROOMS'])
df=df[~df['NUM_BEDROOMS'].isin(['na','NaN','N/A'])]
print(df)

           PID        STATE      PRICE NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0           MP     321654            3        1  1000
1  100002000.0  MAHARASHTRA      21325            3      1.5    --
3  100004000.0           TN     321321            1      NaN   700
4          NaN           TN  589465645            3        2  1600
6  100007000.0        ASSAM    3222321            2   HURLEY   950
7  100008000.0           HP      23131            1        1   NaN

In [54]:
df['NUM_BATH']=pd.to_numeric(df['NUM_BATH'],errors='coerce')
df['NUM_BATH']=df['NUM_BATH'].fillna(method='ffill')
print(df)

           PID        STATE      PRICE NUM_BEDROOMS  NUM_BATH SQ_FT
0  100001000.0           MP     321654            3       1.0  1000
1  100002000.0  MAHARASHTRA      21325            3       1.5    --
3  100004000.0           TN     321321            1       1.5   700
4          NaN           TN  589465645            3       2.0  1600
6  100007000.0        ASSAM    3222321            2       2.0   950
7  100008000.0           HP      23131            1       1.0   NaN

In [55]:
df['SQ_FT']=df['SQ_FT'].replace('--',np.nan)
df['SQ_FT']=df['SQ_FT'].astype(float)
mean_sqft=df['SQ_FT'].mean()
df['SQ_FT'].fillna(mean_sqft,inplace=True)
print(df)

           PID        STATE      PRICE NUM_BEDROOMS  NUM_BATH   SQ_FT
0  100001000.0           MP     321654            3       1.0  1000.0
1  100002000.0  MAHARASHTRA      21325            3       1.5  1062.5
3  100004000.0           TN     321321            1       1.5   700.0
4          NaN           TN  589465645            3       2.0  1600.0
6  100007000.0        ASSAM    3222321            2       2.0   950.0
7  100008000.0           HP      23131            1       1.0  1062.5

In [56]:
df['SQ_FT'].sum()

6375.0

In [57]:
df['NUM_STORE']=[1,1,1,1,1,1]
df

,PID,STATE,PRICE,NUM_BEDROOMS,NUM_BATH,SQ_FT,NUM_STORE
0,100001000.0,MP,321654,3,1.0,1000.0,1
1,100002000.0,MAHARASHTRA,21325,3,1.5,1062.5,1
3,100004000.0,TN,321321,1,1.5,700.0,1
4,NaN,TN,589465645,3,2.0,1600.0,1
6,100007000.0,ASSAM,3222321,2,2.0,950.0,1
7,100008000.0,HP,23131,1,1.0,1062.5,1

In [58]:
df_tn=df[df['STATE']=='TN']
df_tn=df_tn.reset_index()

df_tn.drop('index',axis=1,inplace=True)
df_tn

           PID STATE      PRICE NUM_BEDROOMS  NUM_BATH   SQ_FT  NUM_STORE
0  100004000.0    TN     321321            1       1.5   700.0          1
1          NaN    TN  589465645            3       2.0  1600.0          1

In [ ]:
df1=df[df['SQ_FT']>1000.0]
df1=df1.reset_index()
df1.drop('index',axis=1,inplace=True)
df1

In [30]:
df.iloc[0:3,0:3]

           PID        STATE   PRICE
0  100001000.0           MP  321654
1  100002000.0  MAHARASHTRA   21325
3  100004000.0           TN  321321

In [31]:
state_prices=df.groupby('STATE')['PRICE','SQ_FT'].mean()
state_prices['pricepersqft']=state_prices['PRICE']/state_prices['SQ_FT']
state_prices=state_prices.sort_values('pricepersqft',ascending=True)
print(state_prices.index[0])

MAHARASHTRA